
<div class="container-fluid">
    <div class="row">
        <button ui-sref="main.create" class="btn btn-primary">ADD GRAPH</button>
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="graph in graphs track by $index">
            <div class="panel" style="height: {{graph.height + 50 + 'px'}}; width: {{graph.width + 50 + 'px'}}">
                <button class="btn btn-primary" ui-sref="main.edit({name: graph.name})">
                    <i class="fa fa-lg fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger pull-right" ng-click="deleteGraph(graph)">
                    <i class="fa fa-lg fa-trash"></i>
                </button>

                <div id="graphic-{{graph.name}}"></div>
            </div>
        </div>
    </div>

</div>
